












































/* $Id: unison.css,v 1.39 2006/11/04 03:48:25 rkh Exp $     emacs: -*-c-*-  */

/*
  The color palette should be decomposed into the simplest set of colors,
  such as:
  FG, BG
  HIGHLIGHT_FG, BG
  HIGHLIGHT2_FG, BG

  or consider:
  HUE{1,2,3,4}{A,B,C,D}_{FG,BG} where HUE1 is a color group, A-D are
  specifc colors, and FG,BG provide contrast for highlighting

 */


body {
 background: white;
 font-family: sans-serif;
}

img {
 border: 0;
}

a:hover {
 background: #F5CC06;
 color: #004B8C;
}



/* page elements */
table.page {
 width: 100%;
}
table.page td {
 margin: 0;
 padding: 2px;
 vertical-align: middle;
}
table.page td.left {
  text-align: center;
  width: 120px;
  border-right: medium double #004B8C;
}
table.page td.body {
  padding: 10px 0px 10px 0px;
  border-top: medium double #004B8C;
  border-bottom: medium double #004B8C;
}
table.page td.right {
  text-align: left;
}


/* navbar */
div.nav table {
  border-spacing: 0;
  margin: 0;
  width: 100%;
}
div.nav table.navp {
 border: none;
  border-bottom: 2px solid white;
}
div.nav table.navc {
  border: medium solid #004B8C;
  padding: 1px;
}

div.nav ul {
  display: inline;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
}
div.nav td.right {
  text-align: right;
}
div.nav table.navp ul {
}

div.nav li { 
  display: inline;
  backgrond: white;
  border: thin solid #004B8C;
  color: #004B8C;
 -moz-border-radius: 3px;
  border-radius: 3px;
}
div.nav li.selected { 
  background: #004B8C;
  color: white;
  font-weight: bold;
}
div.nav table.navp li.selected {
  border-top: thin solid #004B8C;  
  border-bottom: 5px solid #004B8C;  
}

div.nav li a, div.nav li span {
  padding: 0px 4px 0px 4px;
}

div.nav a {
  text-decoration: none;
  color: #004B8C;
}

div.nav a:hover {
  color: black;
  background-color: #F5CC06;
}



/* grouped data */
table.group {
 width: 100%;
 margin: 0;
  margin-top: 10px;
 padding: 0;
 border: 0;
 border-spacing: 0;
}

table.group th.grouptag {
 border: thin solid #004B8C;
 -moz-border-radius: 4px;
  border-radius: 4px;
 background: #004B8C;
 width: 20%;
 font-size: largest;
 color: white;
}

table.group td {
 border: medium solid #004B8C;
 -moz-border-radius: 4px;
  border-radius: 4px;
}


table.summary {
 width: 100%;
 border: none;
 background: white;
 margin: none;
 border: none;
}
table.summary th {
 background: white;
 border: 0px;
 padding: 0px;
 text-align: right;
 vertical-align: top;
 white-space: nowrap;
}
table.summary th div {
 border: thin solid #913745;
 background: #913745;
 color: white;
 white-space: nowrap;
}
table.summary td {
 vertical-align: top;
 border: none;
 margin: none;
}


/* Quick Links */
table.quicklinks {
  /* border:  #004B8C thin solid; */
}
td.quicklinks_title {
 background: #004B8C;
 color: white;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
 font-style: italic; 
}
td.quicklinks {
 border:  thin solid #004B8C;
 color: #004B8C;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
}


/* credits */
table.credits {
 border: #004B8C thin solid;
}
table.credits th {
 border: #004B8C thin solid;
 background: #004B8C;
  /* color: white; */
}
table.credits td {
 border: #004B8C thin solid;
}



table.uwtable {
 background: white;
 border: none;
 margin: 0px;
 -moz-border-radius: 0px;
  border-radius: 0px;
  white-space: wrap;
}
table.uwtable th, table.uwtable td {
 border: thin solid #913745;
 -moz-border-radius: 0px;
  border-radius: 0px;
}
table.uwtable th {
 background: #913745;
 color: white;
}
table.uwtable th.highlighted {
 background: black;
}
table.uwtable td.highlighted {
 background: #F5CC06;
}


/* software stack table (in about_unison) */
table.sw_stack {
 border: medium #004B8C solid;
}
table.sw_stack tr {
 border: thin #004B8C solid;
}
table.sw_stack th {
 background: #004B8C;
 color: white;
 vertical-align: top;
 padding: 5px;
}
table.sw_stack td.sw_stack_sep {
 border-top: thin solid #004B8C;
 border-bottom: thin solid #004B8C;
}



span.page_break {
  border-bottom: medium double #004B8C;
}

/* 
TR.tablesep {
  background: orange;
}
*/

span.page_title {
  font-weight: bold;
}


/* cheap text buttons */
span.button {
 background: #004B8C;
 border: black thin solid;
}
span.button:hover {
 background: #F5CC06;
}
/* SPAN.button A {
   color: white;
   font-weight: bold;
   text-decoration: none;
   } */



div.important {
 border: red medium solid;
 padding: 4px;
 margin: 20px 20px 20px 20px;
 color: red;
 background-color: red;
}



/* tooltip */
span.tooltip {
 border: none;
 background-color: #F5CC06;
 color: black;
 font-weight: bold;
 font-size: smaller;
 padding: none;
 margin: none;
}

span.tooltip:hover {
 cursor:pointer;cursor:help;
}


/* domTT Classic Style, from domTT examples.css */
div.domTTUnison {
 border: 2px solid black;
 background: #F5CC06;
}
div.domTTUnison .caption {
  font-family: serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
 padding: 1px 2px;
 background: #F5CC06;
}
div.domTTUnison .contents {
 color: black;
 font-size: 12px;
 font-family: Arial, sans-serif;
 padding: 1px 2px;
}



pre.code {
 border: black thin dashed;
 background: white;
 margin: 20px;
 padding: 5px;
 overflow: auto;
}


dl {
 margin-right: 50px;
}
dt {
 font-style: italic;
}
dd {
 margin-right: 50px;
 font-size: smaller;
}

/* miscellany */
span.error {
 color: red;
}
span.debug {
  background-color: white;
}
div.warning {
 border: red medium solid;
 padding: 2px;
 margin: 5px;
 color: red;
}
div.sql {
 border: black thin solid;
 padding: 2px;
 margin: 5px;
 color: black;
 background-color: #B7D9BB;
 font-family: monospace;
 font-size: xx-small;
}
