/* $Id: unison.css,v 1.30 2005/11/21 18:00:26 rkh Exp $     emacs: -*-c-*-  */

BODY {
 background: #FFFFED;
 font-family: sans-serif;
}

A:hover {
 background: lightgrey;
}

IMG {
 border: 0;
}


/* page elements */
TABLE.page TD.logo {
  text-align: center;
  vertical-align: middle;
  border-right: medium double #150067;
 padding: 0px 5px 0px 0px;
}
TABLE.page TD.body {
  padding-top: 2px;
  padding-bottom: 10px;
  border-top: medium double #150067;
  border-bottom: medium double #150067;
  vertical-align: top;
}
TABLE.page TD.footer {
  vertical-align: middle;
 padding: 0px 0px 0px 5px;
}
TABLE.page TD.navbar {
  font-size: small;
 padding: 0px 0px 5px 5px;
 marging: 0px;
}


/* nav and subnav bars */
TABLE.nav {
 border: none;
}
TABLE.nav TD.unselected {
 width: 50px;
 border: #E0E0FF thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: #E0E0FF;
}
TABLE.nav TD.selected {
 width: 50px;
 border: #150067 thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: #150067;
 font-weight: bold;
 color: white;
}
TABLE.nav TD.unselected:hover {
 background: lightgrey;
 border: #150067 thin solid;
 cursor:pointer;cursor:hand;
}
TABLE.nav TD.selected A {
 color: white;
 font-weight: bold;
 text-decoration: none;
}
TABLE.nav TD.unselected A {
 color: black;
 text-decoration: none;
}


TABLE.subnav {
 border: #150067 medium solid;
}
TABLE.subnav TD.unselected {
 width: 50px;
 border: #E0E0FF thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: #E0E0FF;
}
TABLE.subnav TD.selected {
 width: 50px;
 border: #150067 thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: #150067;
 font-weight: bold;
 color: white;
}
TABLE.subnav TD.unselected:hover {
 background: lightgrey;
 border: #150067 thin solid;
 cursor:pointer;cursor:hand;
}
TABLE.subnav TD.selected A {
 color: white;
 font-weight: bold;
 text-decoration: none;
}
TABLE.subnav TD.unselected A {
 color: black;
 text-decoration: none;
}



/* grouped data */
TABLE.group {
 width: 100%;
 margin: 0px;
}

TABLE.group TH.grouptag {
 border: #150067 thin solid;
 background-color: #E0E0FF;
 color: black;
 width: 20%;
 font-size: largest;
}

TABLE.group TD {
 border: black thin solid;
 background-color: white;
}



/* Quick Links */
table.quicklinks {
  white-space: nowrap;
  /* border:  #150067 thin solid; */
}
TD.quicklinks_title {
 background:  #150067;
 color: white;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
}
TD.quicklinks {
 border:  #150067 thin solid;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
}
TD TABLE.quicklinks {
  white-space: nowrap;
}


/* credits */
TABLE.credits {
 border: #006699 thin solid;
}
TABLE.credits TH {
 border: #006699 thin solid;
 background: #006699;
 color: white;
}
TABLE.credits TD {
 border: #006699 thin solid;
}



TABLE.uwtable {
  background-color: #E0E0FF;
}
TABLE.uwtable TH {
 border: black thin solid;
 font-size: 100%;
 background-color: #E0E0FF;
}
TABLE.uwtable TH.highlighted {
 border: black thin solid;
 font-size: 100%;
 background-color: yellow;
}
TABLE.uwtable TD {
  background-color: white;
}
TABLE.uwtable TD.highlighted {
  background-color: yellow;
}


/* software stack table (in about_unison) */
TABLE.sw_stack {
 border: thin #150067 solid;
}
TABLE.sw_stack TR {
 border: thin #150067 solid;
}
TABLE.sw_stack TH {
 background: #150067;
 color: white;
 vertical-align: top;
}



SPAN.page_break {
  border-bottom: medium double #150067;
}

TR.tablesep {
  background-color: orange;
}


SPAN.page_title {
  font-weight: bold;
}


/* cheap text buttons */
SPAN.button {
 background: lightgrey;
 border: black thin solid;
}
SPAN.button:hover {
 background: darkgrey;
}
/* SPAN.button A {
   color: white;
   font-weight: bold;
   text-decoration: none;
   } */


/* tooltip */
SPAN.tooltip {
 border: 1px solid #cc9900;
 background-color: #ffcc33;
 color: black;
 font-weight: bold;
 font-size: smaller;
 padding: 0px 1px 0px 1px;
 margin: 0px;
}
SPAN.tooltip:hover {
 cursor:pointer;cursor:hand;
}


/* domTT Classic Style, from domTT examples.css */
div.domTTUnison {
 border: 2px solid #cc9900;
 background-color: #ffcc33;
}
div.domTTUnison .caption {
  font-family: serif;
  font-size: 13px;
  _font-size: 12px;
  font-weight: bold;
  font-style: italic;
 padding: 1px 2px;
 background: #cc9900;
}
div.domTTUnison .contents {
 color: black;
 font-size: 13px;
 _font-size: 12px;
 font-family: Arial, sans-serif;
 padding: 1px 2px;
 _padding-bottom: 0;
}


/* miscellany */
SPAN.error {
 color: red;
}
SPAN.debug {
  background-color: #FFFFCC;
}
div.warning {
 border: red medium solid;
 padding: 2px;
 margin: 5px;
 color: red;
}
div.sql {
 border: black thin solid;
 padding: 2px;
 margin: 5px;
 color: black;
 background-color: #55ff55;
 font-family: monospace;
 font-size: xx-small;
}
#div.tip {
# border: black thin solid;
# padding: 2px;
# margin: 20px;
# background: lightgrey;
#}
