












































/* $Id: unison.css,v 1.39 2006/11/04 03:48:25 rkh Exp $     emacs: -*-c-*-  */

/*
  The color palette should be decomposed into the simplest set of colors,
  such as:
  FG, BG
  HIGHLIGHT_FG, BG
  HIGHLIGHT2_FG, BG

  or consider:
  HUE{1,2,3,4}{A,B,C,D}_{FG,BG} where HUE1 is a color group, A-D are
  specifc colors, and FG,BG provide contrast for highlighting

 */


BODY {
 background: white;
 font-family: sans-serif;
}

IMG {
 border: 0;
}


/*
A {
 border: 1px solid white;
}
*/
A:hover {
 background: #F5CC06;
 color: #004B8C;
}



/* page elements */
TABLE.page TD.logo {
  text-align: center;
  vertical-align: middle;
  border-right: medium double #004B8C;
  padding: 0px 5px 0px 0px;
}
TABLE.page TD.logo IMG {
 border: 0;
}
TABLE.page TD.body {
  padding-top: 2px;
  padding-bottom: 10px;
  border-top: medium double #004B8C;
  border-bottom: medium double #004B8C;
  vertical-align: top;
}
TABLE.page TD.footer {
  vertical-align: middle;
 padding: 0px 0px 0px 5px;
}
TABLE.page TD.navbar {
  font-size: small;
 padding: 0px 0px 0px 0px;
 margin: 0px;
}


/* nav and subnav bars */
TABLE.nav {
 border: none;
 color: #004B8C;
 background: white;
}
TABLE.nav TD.unselected {
 background: white;
 border: thin solid #004B8C;
 color: #004B8C;
 padding-left: 5px;
 padding-right: 5px;
 width: 50px;
 white-space: nowrap;
}
TABLE.nav TD.selected {
 background: #004B8C;
 border: thin solid #004B8C;
 color: white;
 font-weight: bold;
 padding-left: 5px;
 padding-right: 5px;
 white-space: nowrap;
 width: 50px;
}
TABLE.nav TD.unselected:hover {
 background: #F5CC06;
 border: #004B8C thin solid;
 color: #004B8C;
 cursor:pointer;cursor:hand;
}
TABLE.nav TD.selected A {
 color: #004B8C;
 font-weight: bold;
 text-decoration: none;
}
TABLE.nav TD.unselected A {
 text-decoration: none;
 color: #004B8C;
}


TABLE.subnav {
 border: #004B8C medium solid;
 color: #004B8C;
}
TABLE.subnav TD.unselected {
 width: 50px;
 border: white thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: white;
 color: #004B8C;
}
TABLE.subnav TD.selected {
 width: 50px;
 border: #004B8C thin solid;
 padding-left: 5px;
 padding-right: 5px;
 background: #004B8C;
 font-weight: bold;
 color: #004B8C;
}
TABLE.subnav TD.unselected:hover {
 background: #F5CC06;
 border: #004B8C thin solid;
 cursor:pointer;cursor:hand;
 color: #004B8C;
}
TABLE.subnav TD.selected A {
 color: #004B8C;
 font-weight: bold;
 text-decoration: none;
}
TABLE.subnav TD.unselected A {
 color: #004B8C;
 text-decoration: none;
}



/* grouped data */
TABLE.group {
 width: 100%;
 margin: 0px;
 padding: 0px;
 border: 0px;
 border-spacing: 0;
}

TABLE.group TH.grouptag {
 border: thin solid #004B8C;
 background: #004B8C;
 width: 20%;
 font-size: largest;
 color: white;
}

TABLE.group TD {
 border: medium solid #004B8C;
}


TABLE.summary {
 width: 100%;
 border: none;
 background: white;
 margin: none;
 border: none;
}
TABLE.summary TH {
 background: white;
 border: 0px;
 padding: 0px;
 text-align: right;
 vertical-align: top;
 white-space: nowrap;
}
TABLE.summary TH DIV {
 border: thin solid #913745;
 background: #913745;
 color: white;
 white-space: nowrap;
}
TABLE.summary TD {
 vertical-align: top;
 border: none;
 margin: none;
}


/* Quick Links */
table.quicklinks {
  /* border:  #004B8C thin solid; */
}
TD.quicklinks_title {
 background:  white;
 color: #004B8C;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
 font-style: italic; 
}
TD.quicklinks {
 border:  thin solid white;
 color: #004B8C;
 padding-left: 2px;
 padding-right: 2px;
 white-space: nowrap;
}


/* credits */
TABLE.credits {
 border: #004B8C thin solid;
}
TABLE.credits TH {
 border: #004B8C thin solid;
 background: #004B8C;
  /* color: white; */
}
TABLE.credits TD {
 border: #004B8C thin solid;
}



TABLE.uwtable {
 background: white;
 margin: 0px;
}
TABLE.uwtable TBODY {
 background: white;
 overflow: auto;
}
TABLE.uwtable TH {
 border: thin solid #913745;
 background: #913745;
 color: white;
}
TABLE.uwtable TH.highlighted {
 border: thin solid #913745;
 background: black;
}
TABLE.uwtable TD {
 border: thin solid #913745;
 background: white;
}
TABLE.uwtable TD.highlighted {
 border: thin solid #913745;
 background: #F5CC06;
}


/* software stack table (in about_unison) */
TABLE.sw_stack {
 border: medium #004B8C solid;
}
TABLE.sw_stack TR {
 border: thin #004B8C solid;
}
TABLE.sw_stack TH {
 background: #004B8C;
 color: white;
 vertical-align: top;
 padding: 5px;
}
TABLE.sw_stack TD.sw_stack_sep {
 border-top: thin solid #004B8C;
 border-bottom: thin solid #004B8C;
}



SPAN.page_break {
  border-bottom: medium double #004B8C;
}

/* 
TR.tablesep {
  background: orange;
}
*/

SPAN.page_title {
  font-weight: bold;
}


/* cheap text buttons */
SPAN.button {
 background: #004B8C;
 border: black thin solid;
}
SPAN.button:hover {
 background: #F5CC06;
}
/* SPAN.button A {
   color: white;
   font-weight: bold;
   text-decoration: none;
   } */



DIV.important {
 border: red medium solid;
 padding: 4px;
 margin: 20px 20px 20px 20px;
 color: red;
 background-color: red;
}



/* tooltip */
SPAN.tooltip {
 border: none;
 background-color: white;
 color: #496A08;
 font-weight: bold;
 font-size: smaller;
 padding: none;
 margin: none;
}

SPAN.tooltip:hover {
 cursor:pointer;cursor:help;
}


/* domTT Classic Style, from domTT examples.css */
div.domTTUnison {
 border: 2px solid #496A08;
 background-color: white;
}
div.domTTUnison .caption {
  font-family: serif;
  font-size: 13px;
  /* _font-size: 12px; */
  font-weight: bold;
  font-style: italic;
 padding: 1px 2px;
 background: white;
}
div.domTTUnison .contents {
 color: black;
 font-size: 13px;
  /* font-size: 12px; */
 font-family: Arial, sans-serif;
 padding: 1px 2px;
  /* padding-bottom: 0; */
}



pre.code {
 border: black thin dashed;
 background: white;
 margin: 20px;
 padding: 5px;
 overflow: auto;
}


dl {
 margin-right: 50px;
}
dt {
 font-style: italic;
}
dd {
 margin-right: 50px;
 font-size: smaller;
}

/* miscellany */
SPAN.error {
 color: red;
}
SPAN.debug {
  background-color: white;
}
div.warning {
 border: red medium solid;
 padding: 2px;
 margin: 5px;
 color: red;
}
div.sql {
 border: black thin solid;
 padding: 2px;
 margin: 5px;
 color: black;
 background-color: white;
 font-family: monospace;
 font-size: xx-small;
}

/*
  I haven't a clue why I disabled this
  2007-10-19 Reece Hart <reece@harts.net>

div.tip {
 border: black thin solid;
 padding: 2px;
 margin: 20px;
 background: lightgrey;
}
*/



