HeaderName HEADER.html
IndexOptions FancyIndexing VersionSort

Options ExecCGI Indexes FollowSymLinks
#AllowOverride All

AddHandler cgi-script .sh
AddHandler cgi-script .pl

Require valid-user


<Files nph-pdb-fetch.sh>
    Order allow,deny
    Allow from all
    Satisfy any
</Files>

