Options ExecCGI Indexes FollowSymLinks
AddHandler cgi-script .sh
AddHandler cgi-script .pl
IndexOptions FancyIndexing VersionSort
HeaderName HEADER.html

DirectoryIndex index.html index.pl

RedirectMatch permanent (.*)/cgi/(.*) $1/$2

# reimplemented static HTML with Unison::WWW::Page
RedirectMatch permanent (.*)/credits.html		  $1/credits.pl
RedirectMatch permanent (.*)/(?!tour|dumps)/index.html  $1/$2/index.pl
RedirectMatch permanent (.*)/license.html 		  $1/license.pl
RedirectMatch permanent (.*)/more.html 			  $1/about.pl
RedirectMatch permanent (.*)/shots.html 		  $1/shots.pl

# consolidation and reorganization
RedirectMatch permanent (.*)/origins.pl 		  $1/contents.pl
RedirectMatch permanent (.*)/params.pl 		      $1/contents.pl
RedirectMatch permanent (.*)/about_env.pl 		  $1/env.pl

# moved to ../doc and made symlink to the doc directory
RedirectMatch permanent (.*)/critical-tables.pdf  $1/doc/critical-tables.pdf
RedirectMatch permanent (.*)/unison-tutorial.pdf  $1/doc/unison-tutorial.pdf

<IfModule mod_auth_kerb.c>
	Require valid-user

	# nph-pdb-fetch.sh must be "open" because Jmol
	# doesn't know how to handle auth requests for 
	# files loaded from a URL.
	<Files nph-pdb-fetch.sh>
	    Order allow,deny
	    Allow from all
	    Satisfy any
	</Files>
</IfModule>
